@font-face {
  font-family: "Expansiva";
  src: url(/src/assets/fonts/Expansiva/Expansiva.otf);
}

@font-face {
  font-family: "Expansiva Bold";
  src: url(/src/assets/fonts/Expansiva/Expansiva-bold.otf);
}

@font-face {
  font-family: "Arkitech Light";
  src: url(/src/assets/fonts/Arkitech/Arkitech-Light.ttf);
}

@font-face {
  font-family: "Arkitech Medium";
  src: url(/src/assets/fonts/Arkitech/Arkitech-Medium.ttf);
}

:root {
  --purple: #7161F5;
  --purple-blue: #6286F5;
  --blue-turqupise: #62B8F5;
  --turquoise: #62EAF5;
  --green: #61F570;
  --yellow: #E6F561;
  --red: #F57061;
  --darker: #040117;
  --dark: #07032E;
  --light: #F5F4FE;
  --lighter: #FFFFFF;
  --background-text: rgba(113, 97, 245, 0.05);
  --grey-text: #ABABAB;
  --body-font: 'obvia';
  --header-font: 'Arkitech Light';
  --header-font-bold: 'Arkitech Medium';
  --header-alternative: 'Expansiva';
  --header-alternative-bold: 'Expansiva Bold';
  --normal-font-size: 1rem;
  --small-font-size: 0.9rem;
  --main-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.07),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.042),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.035),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.028),
        100px 100px 80px rgba(0, 0, 0, 0.02);
  --hover-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.1),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.072),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.06),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.05),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.04),
        100px 100px 80px rgba(0, 0, 0, 0.028);
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  scroll-behavior: smooth;
  margin: auto;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  line-height: 1.6;
  color: var(--light);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-family: var(--header-font);
  font-size: clamp(1.215rem, 7vmin, 2.488rem);
  line-height: 1.4;
  color: var(--lighter);
}

h2 {
  font-family: var(--header-font);
  font-size: clamp(1.138rem, 5.6vmin, 1.728rem);
  line-height: 1.4;
  color: var(--purple);
}

h3 {
  font-family: var(--header-font);
  font-size: clamp(1.067rem, 4.5vmin, 1.2rem);
  line-height: 1.4;
  color: var(--blue-turqupise);
}

p {
  font-family: var(--body-font);
  font-size: clamp(0.878rem, 2.85vmin, 1rem);
}

a {
  text-shadow: var(--main-shadow);
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1468px;
  z-index: 80;
}

#section-a {
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/Piotr-Bania.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

#section-a h1 {
  color: var(--light);
}

#section-b .container {
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/Portfolio.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-c .container {
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/Lab.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-d .container {
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/Skills.svg);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-e .container {
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/About.svg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-f .container {
  height: 100vh;
  background-image: url(/src/assets/images/backgrounds/Contact.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
}

#section-b,
#section-c,
#section-d,
#section-e,
#section-f {
  padding-top: 100px;
  padding-bottom: 100px;
}

#section-a {
  background: radial-gradient(circle at 30% 60%, #0B0445 0%, #040117 100%);
}

#section-b,
#section-d,
#section-f {
  background: -webkit-gradient(linear, right top, left top, from(var(--darker)), to(var(--dark)));
  background: linear-gradient(to left, var(--darker), var(--dark));
}

#section-c,
#section-e {
  background-image: -webkit-gradient(linear, left top, right top, from(var(--lighter)), to(var(--light)));
  background-image: linear-gradient(to right, var(--lighter), var(--light));
}

#section-c h1,
#section-c p,
#section-e h1,
#section-e p {
  color: var(--dark);
}

.logo {
  position: fixed;
  width: 70px;
  height: 70px;
  left: 5%;
  top: 5%;
  z-index: 100;
}

.menu {
  position: fixed;
  width: 100%;
  right: 10vw;
  top: 55px;
  z-index: 90;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  visibility: visible;
}

.menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu ul li {
  padding-right: 3vw;
}

.menu a {
  color: var(--purple-blue);
}

.open-menu {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
  padding: 7px;
  cursor: pointer;
  z-index: 98;
  visibility: hidden;
}

.closed-menu {
  position: fixed;
  right: 5%;
  top: 5%;
  width: 60px;
  height: 60px;
  padding: 7px;
  cursor: pointer;
  z-index: 98;
  visibility: hidden;
}

#nav-content {
  position: fixed;
  right: 0;
  top: 0;
  width: 75%;
  height: 100%;
  max-width: 600px;
  z-index: 99;
  background: -webkit-gradient(linear, left top, right top, from(var(--dark)), to(var(--darker)));
  background: linear-gradient(90deg, var(--dark) 0%, var(--darker) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transform: translateX(105%);
          transform: translateX(105%);
  -webkit-transition: 0.5s ease transform;
  transition: 0.5s ease transform;
  visibility: hidden;
}

#nav-content a {
  display: inline-block;
  width: 100%;
  color: var(--light);
  font-size: 2.5rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#nav-content a:hover {
  color: var(--green);
}

#nav-content.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0px 0px 7.8px rgba(0, 0, 0, 0.053), 0px 0px 17.2px rgba(0, 0, 0, 0.078), 0px 0px 28.8px rgba(0, 0, 0, 0.096), 0px 0px 43.4px rgba(0, 0, 0, 0.111), 0px 0px 62.6px rgba(0, 0, 0, 0.125), 0px 0px 88.6px rgba(0, 0, 0, 0.139), 0px 0px 125.7px rgba(0, 0, 0, 0.154), 0px 0px 182.5px rgba(0, 0, 0, 0.172), 0px 0px 281.3px rgba(0, 0, 0, 0.197), 0px 0px 500px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 7.8px rgba(0, 0, 0, 0.053), 0px 0px 17.2px rgba(0, 0, 0, 0.078), 0px 0px 28.8px rgba(0, 0, 0, 0.096), 0px 0px 43.4px rgba(0, 0, 0, 0.111), 0px 0px 62.6px rgba(0, 0, 0, 0.125), 0px 0px 88.6px rgba(0, 0, 0, 0.139), 0px 0px 125.7px rgba(0, 0, 0, 0.154), 0px 0px 182.5px rgba(0, 0, 0, 0.172), 0px 0px 281.3px rgba(0, 0, 0, 0.197), 0px 0px 500px rgba(0, 0, 0, 0.25);
}

#nav-content .section-heading {
  text-align: left;
  font-size: 3rem;
  font-family: var(--header-font-bold);
  padding-bottom: 20px;
}

#nav-content .wrapper {
  width: 70%;
  position: relative;
}

#nav-content .closed-menu {
  position: absolute;
  left: 5%;
  top: 5%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.canvas-1 {
  position: fixed;
  top: 0;
  max-width: 100%;
  max-height: 100%;
}

strong {
  font-family: var(--header-alternative);
  color: var(--green);
}

b {
  font-family: var(--header-font-bold);
  color: var(--green);
}

a {
  color: var(--light);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: var(--green);
}

span {
  color: var(--purple);
}

.heading {
  position: relative;
  width: 60%;
  left: 20%;
  margin: 100px 0;
}

.heroText {
  position: absolute;
  width: auto;
  left: 17%;
  bottom: 10%;
}

.upper-heading {
  padding-bottom: 20px;
}

.lower-heading {
  padding-bottom: 40px;
}

.text {
  color: var(--light);
}

.cursor {
  color: var(--green);
}

.icon {
  position: relative;
  width: 25px;
  height: 25px;
  top: 7px;
}

.all-project-items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5%;
}

.project-item {
  opacity: 25%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

img {
  width: 100%;
  border-radius: 20px 5px 10px 10px;
  border: 1px solid transparent;
}

.project-item:hover {
  opacity: 100%;
}

.project-item:hover .project-image img {
  border: 1px solid var(--green);
}

button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--light);
  height: 3em;
  border-radius: 20px 5px 10px 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  text-shadow: var(--main-shadow);
  white-space: nowrap;
  padding: calc(0.5em - 1px) 1em;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border: 1px solid var(--dark);
  background: -webkit-gradient(linear, left top, right top, from(rgba(113, 97, 245, 0.9)), to(#7161f5));
  background: linear-gradient(90deg, rgba(113, 97, 245, 0.9) 0%, #7161f5 100%);
  -webkit-box-shadow: var(--main-shadow);
          box-shadow: var(--main-shadow);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

button:hover {
  cursor: pointer;
  border: 1px solid var(--lighter);
  background: -webkit-gradient(linear, left top, right top, from(#61f570), to(rgba(97, 245, 112, 0.5)));
  background: linear-gradient(90deg, #61f570 0%, rgba(97, 245, 112, 0.5) 100%);
  -webkit-box-shadow: var(--hover-shadow);
          box-shadow: var(--hover-shadow);
  text-shadow: var(--hover-shadow);
}

.progressSection {
  position: fixed;
  right: 5%;
  bottom: 5%;
  width: 1px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  will-change: transform;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 90;
}

.progressBarWrap {
  position: relative;
  width: 1px;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--purple);
  -webkit-box-shadow: var(--main-shadow);
          box-shadow: var(--main-shadow);
}

.progressBar {
  position: absolute;
  -webkit-transform: translateX(-1px);
          transform: translateX(-1px);
  bottom: 0;
  width: 3px;
  border: 1px solid var(--green);
  border-radius: 10px;
  height: 0%;
  background-color: var(--green);
  -webkit-box-shadow: var(--main-shadow);
          box-shadow: var(--main-shadow);
}

.progressNum {
  color: var(--grey-text);
  position: fixed;
  right: 10px;
  bottom: 0;
}

.strip {
  position: fixed;
  width: 1px;
  height: 100vh;
  background: -webkit-gradient(linear, left bottom, left top, from(#7161F500), to(#7161F54D));
  background: linear-gradient(0deg, #7161F500 0%, #7161F54D 100%);
  z-index: 0;
}

.one {
  left: 26.66%;
  top: 0;
}

.two {
  left: 50%;
  top: 0;
}

.three {
  right: 26.66%;
  top: 0;
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  button {
    font-size: var(--small-font-size);
    height: 2.8em;
    line-height: 1.4;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .heading {
    width: 70%;
    left: 15%;
  }
  #section-b,
  #section-c,
  #section-d,
  #section-e,
  #section-f {
    padding: 80px 0;
  }
  .heroText {
    left: 14%;
    bottom: 13%;
  }
  .upper-heading {
    padding-bottom: 15px;
  }
  .lower-heading {
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
  .logo {
    width: 50px;
    height: 50px;
  }
  .menu {
    visibility: hidden;
  }
  .open-menu,
  .closed-menu {
    width: 50px;
    height: 50px;
    visibility: visible;
  }
  #nav-content {
    visibility: visible;
  }
  #nav-content .section-heading {
    font-size: 2rem;
  }
  #nav-content a {
    font-size: 1.5rem;
  }
  button {
    font-size: var(--small-font-size);
    height: 2.8em;
    line-height: 1.4;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .heading {
    width: 80%;
    left: 10%;
  }
  #section-b,
  #section-c,
  #section-d,
  #section-e,
  #section-f {
    padding: 50px 0;
  }
  .heroText {
    left: 11%;
    bottom: 16%;
  }
  .upper-heading {
    padding-bottom: 10px;
  }
  .lower-heading {
    padding-bottom: 20px;
  }
  .project-item {
    opacity: 100%;
  }
}
/*# sourceMappingURL=style.css.map */